html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Noto sans KR", sans-serif;
  color: #020217;
  background: #E4E9F2;
}
#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.fullsection {
  width: 100%;
  height: 100%;
  position: relative;
}
.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
}
.quick li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #020217;
  cursor: pointer;
}
.quick .on {
  background: #020217;
}
img {
  width: 70%;
  max-width: 100%;
  border: 1px solid white;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
small {
  display: block;
  margin-top: 50px;
}
.title2{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 80px;
  padding-top: 20px;
}
.full1 h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.loadDiv {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background: white;
  z-index: 999;
  opacity: 1;
}
.loadDiv > img {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.scroll_down {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000000;
}
.scroll_down img {
  width: 100%;
  max-width: 100%;
  border: none;
}


.box {
  width: 450px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}