html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Noto sans KR", sans-serif;
  color: #2E3940;
  background: white;
}
#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.fullsection {
  width: 100%;
  height: 100%;
  position: relative;
}
.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
}
.quick li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #020217;
  cursor: pointer;
}
.quick .on {
  background: #020217;
}
img {
  width: 70%;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
small {
  display: block;
  margin-top: 10px;
}
.title2{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.full1 h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.scroll_down {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000000;
}
.scroll_down img {
  width: 100%;
  max-width: 100%;
  border: none;
}

.full2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}