@charset "utf-8";
@font-face {
    font-family:'AudiType_info';
    src: url(../fonts/AudiType-Bold_4.03.ttf) format('truetype');

    font-family: 'Audi';
    src: url(../fonts/AudiType-WideLight_4.03.ttf);

    font-family: 'Audi2';
    src: url(../fonts/AudiType-BoldItalic_4.03.ttf);

    font-family: 'Audi3';
    src: url(../fonts/AudiType-ExtendedBold_4.03.ttf);
}
#company_introduction_wrap {
    width: 1400px;
    margin:0 auto;
}
.w1177 {
    width: 1177.59px;
    margin: 0 auto;
}

.introduction_wrap_btn {
    margin-left: 5%;
    position: relative;
    
}
.introduction_wrap_btn button {
    font-size: 18px;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1;
    padding: 5px;
    font-family:'Audi2';
}
.introduction_wrap_1 {
    width: 1400px;
}
.introduction_wrap_1 .introduction_wrap_gnb {
    width: 1400px;
    background-color: #000;
    color: #fff;
    height: 54px;
    line-height: 54px;
    
}
.introduction_wrap_1  .introduction_wrap_gnb ul li a {
    font-size: 16px;
    margin-right: 30px;
    float: left;
    
}
.introduction_wrap_1  .introduction_wrap_gnb ul li a:hover {
    color: #6d6d6d;
}

/* 1-2 */
.introduction_wrap_11 {
    margin: 0 auto;
}
.introduction_wrap_11 .introduction_wrap_gnb1 {
    background-color: red;
    height: 54px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.062);
    opacity: 0.7;
    line-height: 54px;
    display: none;
    
}

.introduction_wrap_11 .introduction_wrap_gnb1  ul li a {
    float: left;
    font-size: 16px;
    margin-right: 30px;
}
.introduction_wrap_11 .introduction_wrap_gnb1  ul li a:last-child {
    position: absolute;
    top: 564px;
    right: 280px;
}




/* 2 */
.introduction_wrap_2 {
    margin-left: 58.5px;
    /* 숨김 */
    /* display: none; */
    margin: 0 auto;
    height: 650px;

}
.introduction_wrap_2 h1 {
    font-weight: 700;
    font-size: 42px;
    margin: 60px 0 80px;
}
.introduction_wrap_2 h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 18px;
    font-family: 'Audi3';
}
.introduction_wrap_2 h3,p {
    font-size: 13px;
    line-height: 1.5;
    font-family: 'Audi';
}
 
/* 3 */

.introduction_wrap_3 {
    margin-left: 58.5px;
    /* 숨김 */
    display: none;
    margin: 0 auto;
    font-family: 'Audi';
}
.introduction_wrap_3 h1 {
    font-size: 42px;
    margin: 60px 0 18px;
    font-weight: 700;
}
.introduction_wrap_3 h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Audi';
}
.introduction_wrap_3 img {
    width: 435px;
    height: 210px;
    float: left;
    margin-right: 36px;
}
.introduction_wrap_3_1 {
    margin-bottom: 78px;
}
.introduction_wrap_3 h2{
    margin-bottom: 18px;
}
.introduction_wrap_3 p {
    line-height: 1.5;
    margin-bottom: 18px;
    font-family: 'Audi';
}
.introduction_wrap_3_2 {
    padding: 10px;
}

/* 4 */
.introduction_wrap_4 {
    margin-left: 58.5px;
    line-height: 1.5;
    /* 숨김 */
    display: none;
    margin: 0 auto;
    height: 600px;
    font-family: 'AudiTypeWide', sans-serif;

}
.introduction_wrap_4 h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 60px 0 18px;
}
.introduction_wrap_4 h2 {
    font-size: 13px;
    margin-bottom: 18px;
}
.introduction_wrap_4 h3 {
    font-size: 13px; 
}
.introduction_wrap_4 p {
    font-size: 13px;
    margin-bottom: 18px;
}
.introduction_wrap_4 a {
    font-size: 13px;
    font-weight: 600;
}




/* 5 */
.introduction_wrap_5 {
    margin-left: 58.5px;
    /* 숨김 */
    display: none;
    margin: 0 auto;
    font-family: 'AudiTypeWide', sans-serif;
}
.introduction_wrap_5 h1 {
    font-size: 30px;
    margin: 60px 0 36px;
    font-weight: 600;
}
.introduction_wrap_5 h2 {
    font-size: 13px;
    margin: 0 0 18px;
}
.introduction_wrap_5_1 p {
    font-size: 16px;
    margin-bottom: 0;
    padding: 24px;
    height: 80px;
    border-top: 1px solid  rgb(161, 161, 161);
    font-weight: 700;
}
.introduction_wrap_5_1 ul li>a {
    font-size: 14px;
}
.introduction_wrap_5_1 p:last-child {
    border-bottom: 1px solid #000;
    margin-bottom: 60px;
}
.introduction_wrap_5_1 ul {
    padding: 24px;
}
.introduction_wrap_5_1 a {
    float: right;
}