 @charset "utf-8";
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 

 /* 영문폰트 */
 .roboto {font-family: 'Roboto', sans-serif;}
 .notosans {font-family: 'Noto Sans', sans-serif;}
 .notoserif {font-family: 'Noto Serif', serif;}
 .notosansdisplay {font-family: 'Noto Sans Display', sans-serif;}
 .monoton {font-family: 'Monoton', cursive;}
 .notoserifdisplay {font-family: 'Noto Serif Display', serif;}
 .notosansmono {font-family: 'Noto Sans Mono', monospace;}
 .robotocondensed {font-family: 'Roboto Condensed', sans-serif;}
 .robotomono {font-family: 'Roboto Mono', monospace;}
 .robotoslab {font-family: 'Roboto Slab', serif;}
 .robotoflex {font-family: 'Roboto Flex', sans-serif;}
 .robotoserif {font-family: 'Roboto Serif', serif;}
 .mousememoirs {font-family: 'Mouse Memoirs', sans-serif;}
 .bhuTukaexpandedone {font-family: 'BhuTuka Expanded One', cursive;}
 .uchen {font-family: 'Uchen', serif;}
 .opensans {font-family: 'Open Sans', sans-serif;}
 .montserrat {font-family: 'Montserrat', sans-serif;}
 .poppins {font-family: 'Poppins', sans-serif;}
 .sourcesanspro {font-family: 'Source Sans Pro', sans-serif;}
 .robotomono {font-family: 'Roboto Mono', monospace;}
 .raleway {font-family: 'Raleway', sans-serif;}


 /* 한글폰트 */
 .nanumgothic {font-family: 'Nanum Gothic', sans-serif;}
 .nanummyeongjo {font-family: 'Nanum Myeongjo', serif;}
 .nanumgothiccoding {font-family: 'Nanum Gothic Coding', monospace;}
 .nanumpenscript {font-family: 'Nanum Pen Script', cursive;}
 .nanumbrushscript {font-family: 'Nanum Brush Script', cursive;}
 .notosanskorean {font-family: 'Noto Sans KR', sans-serif;}
 .notoserifkorean {font-family: 'Noto Serif KR', serif;}
 .blackhansans {font-family: 'Black Han Sans', sans-serif;}
 .jua {font-family: 'Jua', sans-serif;}
 .himelody {font-family: 'Hi Melody', cursive;}
 .dohyeon {font-family: 'Do Hyeon', sans-serif;}
 .dongle {font-family: 'Dongle', sans-serif;}
 .gugi {font-family: 'Gugi', cursive;}
 .gaegu {font-family: 'Gaegu', cursive;}
 .yeonsung {font-family: 'Yeon Sung', cursive;}

 










