@charset "utf-8";
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
/* System Fonts Apple */
body {
    font-family: "SF Pro Text", "SF Pro Icons", ;
}
@font-face {
    font-family: system;
    src: local("../font/SFNSText-Light.ttf");
    src: local("../font/DroidSans.ttf");
    src: local("../font/HelveticaNeueDeskInterface-Light");
    src: local("../font/LucidaGrandeUI.ttf");
    src: local("../font/Roboto-Light.ttf");
    src: local("../font/SegoeUILight.ttf");
    src: local("../font/Ubuntu-Light.ttf");
    src: local("../font/TAHOMA_0.TTF.ttf");
}
/* System font 적용 */
body {
    font-family: "system";
}