body{
    width: 100%;
    margin: 0 auto;
    background-color: #1f1f1f;
}
#wrap {
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    color: azure;
    background-color: #1a1a1a;
    box-shadow: 0 0 6px white;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    padding-bottom: 60px;
}
header h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 10px;
}
h1 img {
    width: 40px;
    margin-top: 10px;
    height: auto;
    filter: invert(45%) sepia(63%) saturate(1946%) hue-rotate(162deg)
    brightness(95%) contrast(101%);
}
header ul li{
    display: inline-block;
}
li:hover img {
    /* rotate: 360deg; */
    box-shadow: 0 0 50px white;
    transition: 0.4s;
}
header h2 {
    font-size: 16px;
    padding-bottom: 20px;
}
hr {
    border: solid 1px gray;
    width: 70%;
    margin: 0 auto;
}
main ul {
    width: 1300px;
    margin: 0 auto;   
    
}
main ul li {
    width: 300px;
    float: left;
    padding-bottom: 80px;
    margin: 10px;
}
main ul li a img {
    width: 300px;
    height: 200px;
}
article div:nth-child(2){
    display: none;
}
.active {
    bg
}