@charset "utf-8";
/* Main Top */
@font-face {
    font-family: 'Audi Type';
    src: url(../fonts/AudiType-Normal_4.03.ttf) format('truetype');
}
@font-face {
    font-family: 'Audi Type Extended';
    src: url(../fonts/AudiType-ExtendedNormal_4.03.ttf) format('truetype');
}
@font-face {
    font-family: 'Audi Type Extended Bold';
    src: url(../fonts/AudiType-ExtendedBold_4.03.ttf) format('truetype');
}
@font-face {
    font-family: 'Audi Type Bold';
    src: url(../fonts/AudiType-Bold_4.03.ttf) format('truetype');
}
body {
    font-family: 'Audi Type', sans-serif;
}
#main_top_wrap {
    width: 100%;
    max-width: 1903px;
    margin: 0 auto;
    background-color: #fff;
}
/* Img */
.mainTopImg {
    width: 1920px;
    /* width: 100%; */
    max-width: 1903px;
    margin: 0 auto;
    /* background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 70%,
        rgba(20, 20, 20, 0.5) 80%,
        rgba(20, 20, 20, 0.75) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg');
    background: -moz-linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 70%,
        rgba(20, 20, 20, 0.5) 80%,
        rgba(20, 20, 20, 0.75) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg');
    background: -o-linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 70%,
        rgba(20, 20, 20, 0.5) 80%,
        rgba(20, 20, 20, 0.75) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg');
    background: -ms-linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 70%,
        rgba(20, 20, 20, 0.5) 80%,
        rgba(20, 20, 20, 0.75) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg');
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 70%,
        rgba(20, 20, 20, 0.5) 80%,
        rgba(20, 20, 20, 0.75) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg'); */

        /* 수정 */
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(
        to bottom,
        rgba(20, 20, 20, 1) 70%,
        rgba(20, 20, 20, 1) 80%,
        rgba(20, 20, 20, 1) 90%,
        rgba(20, 20, 20, 1) 100%
        ), url('../images/main_img.jpg');
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 70%,
        rgba(0, 0, 0, 0.8) 95%,
        rgba(0, 0, 0, 0.9) 98%,
        rgb(0, 0, 0) 100%
        ), url('../images/mainimg_100.jpg');
}
.mainTopImgBottom {
    width: 1920px;
    max-width: 1903px;
    height: 135px;
    margin: 0 auto;
    background: #000;
    /* 위치기준값 */
    position: relative;
    z-index: 1;
}
.mainTopText {
    color: #fff;
    padding-top: 650px;
    padding-left: 230px;
    z-index: 100;
    font-family: 'Audi Type Extended', sans-serif;
}
.mainTopText h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 25px;
}
.mainTopText h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.buttonWrap {
    width: 150px;
    height: 60px;
    line-height: 28px;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    padding: 16px 32px;
    cursor: pointer;
}
.buttonWrap:hover {
    background-color: #d9d9d9;
}

/* Form */
.mainTopForm {
    background-color: #4c4c4c;
    width: 1920px;
    max-width: 1903px;
    height: 90px;
    color: #fff;
    padding: 0 77px;
    margin: 0 auto;
    margin-bottom: 33px;
}
.mainTopForm form fieldset {
    /* 플렉스 */
    display: flex;
}
.mainTopFormTitle {
    line-height: 90px;
    font-size: 21px;
    margin-right: 42px;
}
.mainTopFormTitle p {
    font-family: 'Audi Type Extended', sans-serif;
    font-weight: bold;
}
.carListTitle span:first-child {
    font-size: 13px;
    color: #b3b3b3;
}
.carContainer {
    margin-top: 20px;
}
#carList {
    width: 300px;
    /* height: 288px; */
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}
#carList optgroup {
    font-size: 13px;
    background-color: #e5e5e5;
    color: #828282;
}
#carList option {
    font-size: 16px;
    color: #000;
}
#carList option[value=""][disabled] {
    display: none;
}
.newCarNum {
    font-size: 16px;
    line-height: 90px;
    margin-left: 42px;
    cursor: pointer;
}
.newCarNum span {
    font-weight: bold;
}
.newCarNum:hover {
    color: #aeaeae;
}

/* mainTopContent */
.mainTopContent {
    margin: 0 auto;
    width: 1920px;
    max-width: 1903px;
}
.mainTopContentMenu {
    margin: 47px 77px;
    margin-top: 0;
    padding-top: 42px;
    color: #b4b4b4;
}
.mainTopContentMenu ul {
    display: flex;
    font-size: 16px;
}
.mainTopContentMenu ul li {
    margin-right: 42px;
}
.mainTopContentMenu ul li:first-child {
    color: #000;
    text-decoration: underline;
}

.top_content_imgBox {
    width: 220px;
    height: 120px;
    text-align: center;
    margin-bottom: 20px;
}
.top_content_imgBox img {
    text-align: center;
    width: 95%;
    margin-bottom: 5px;
}
.top_content_imgBox p {
    font-size: 16px;
}
.top_content_submenu_wrap {
    padding-top: 23px;
    border-top: 1px solid #b3b3b3;
    text-align: center;
    width: 1920px;
    max-width: 1903px;
    /* 로딩시 안보이게 */
    display: none;
}
.top_content_submenu_wrap>h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 23px;
    cursor: default;
}
.content_submenu_x_button {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    line-height: 45px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-bottom: 23px;
    cursor: pointer;
}
.content_submenu_x_button:hover {
    background-color: #b3b3b3;
}
.top_content_submenu {
    justify-content: center;
    display: flex;
}

.tab_main_content_00 {
    max-width: 1920px;
    max-width: 1903px;
    padding-right: 20px;
}



/* 모바일 */
@media screen and (min-width:375px) and (max-width:768px){
    /* 모바일 메인탑 이미지 */
    .mainTopImg {
        /* 수정 */
        background: -webkit-linear-gradient(
            to bottom,
            rgba(20, 20, 20, 1) 75%,
            rgba(20, 20, 20, 1) 85%,
            rgba(20, 20, 20, 1) 95%,
            rgba(20, 20, 20, 1) 100%
            ), url('../images/mainimg_mobile.jpg');
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 85%,
            rgba(0, 0, 0, 0.8) 90%,
            rgba(0, 0, 0, 0.9) 95%,
            rgb(0, 0, 0) 100%
            ), url('../images/mainimg_mobile_100.jpg');
            max-width: 768px;
            width: 100%;
            height: 90vh;
            background-repeat: no-repeat;
            background-size: cover;
    }
    .mainTopImgBottom {
        /* 수정 */
        max-width: 768px;
        width: 100%;
        height: 36px;
        margin: 0 auto;
        background: #000;
        /* 위치기준값 */
        position: relative;
        z-index: 1;
    }
    .mainTopText {
        /* 수정 */
        color: #fff;
        padding-top: 72.33628318584071vh;
        padding-left: 0;
        z-index: 100;
        font-family: 'Audi Type Extended', sans-serif;
    }
    .mainTopText h2 {
        /* 수정 */
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .mainTopText h3 {
        /* 수정 */
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 25px;
        margin-left: 15px;
    }
    .buttonWrap {
        /* 수정 */
        max-width: 768px;
        width: 92%;
        margin: 0 auto;
        text-align: center;
        height: 56px;
        line-height: 24px;
        background-color: #fff;
        font-size: 16px;
        color: #000;
        padding: 16px 32px;
        cursor: pointer;
    }

    /* 모바일 메인 탑 폼 */
    .mainTopForm form fieldset {
        display: flex;
        flex-flow: column nowrap;
    }
    .mainTopForm {
        background-color: #4c4c4c;
        width: 100%;
        max-width: 768px;
        height: 173px;
        color: #fff;
        padding: 0 15px;
        padding-top: 15px;
        margin: 0 auto;
        margin-bottom: 33px;
    }
    .mainTopFormTitle {
        line-height: 1;
        font-size: 21px;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .carContainer {
        margin-top: 12px;
    }
    #carList {
        width: 92%;
    }
    .mainTopFormCarList {
        margin-bottom: 26px;
    }
    .newCarNum {
        font-size: 16px;
        line-height: 1;
        margin-left: 0;
        cursor: pointer;
    }
    .mainTopContent {
        margin: 0 auto;
        width: 100%;
        /* width: 1920px; */
        max-width: 768px;
    }
    .mainTopContentMenu {
        margin-left: 4%;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 42px;
        padding-top: 22px;
    }
    .tab_main_content_00 {
        width: 100%;
        max-width: 768px;
        padding-right: 20px;
    }


    .top_content_submenu_wrap {
        padding-top: 23px;
        border-top: 1px solid #b3b3b3;
        text-align: center;
        width: 100%;
        max-width: 768px;
        padding-left: 4%;
        padding-right: 4%;
        /* 로딩시 안보이게 */
        display: none;
    }



    /* 탑 서브메뉴 정리 */
    .top_content_submenu {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        clear: both;
    }

    .content_submenu_x_button {
        margin: 0 auto;
        width: 48px;
        height: 48px;
        line-height: 45px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        margin-bottom: 23px;
        cursor: pointer;
        float: right;
    }
    .top_content_submenu_wrap>h3 {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 23px;
        cursor: default;
        float: left;
    }
}