@charset "utf-8";
@font-face {
    font-family: "Audi",sans-serif;
    src: url(../font/fonts/AudiType-Normal_4.03.ttf);
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(242, 242, 242);
    font-family: "Audi",sans-serif;
}
.on{
    border-bottom: 1px solid #000;
    font-weight: 700;
}
.w1280{
    width: 1600px;
    margin: 0 auto;
    background-color: white;
}
/* 헤더 */
header {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgb(102, 102, 102);
    font-weight: 600;
}
header .depth1{
    margin: 0 96px;
    padding-top: 25px;
    height: 72px;
}
.depth1 h1 img {
    width:70px;
    float: left;
}
.gnb>li {
    margin-left: 32px;
    float: left;
}
.depth1 p img{
    width:24px;
    float: right;
}
.gnb>li:hover,
.depth1 p:hover{
    cursor: pointer;
}
.depth2{
    height: 375px;
    padding: 0 96px 0 197px;
    z-index: 222222222222;
}
header .depth2 .gnb2 {
    margin-top: 52px;
    font-size: 1.6rem;
    width: 70%;
    /* background-color: yellow; */
    float: left;
}
.gnb2 li{
    float: left;
    width: 320px;
    height: 24px;
    margin-right: 48px;
    margin-bottom: 24px;
    /* background-color: red; */
}
.gnb2+p img{
    width:432px;
    height:243px;
    float: right;
}
.gnb2+p{
    width:30%;
    float: right;
    margin-top: 52px;
}
.gnb2+p+p{
    position: absolute;
    color: white;
    font-size: 2rem;
    width: 432px;
    height: 40px;
    /* background-color: red; */
    right: 70px;
    bottom: 80px;
}
.fa-angle-right{
    
    font-size: 2.5rem;
}
.depth2{
    position: absolute;
    display: none;
    background-color: white;
}
/* 헤더 */
.sec1{
    position: relative;
}
.sec1 h2{
    text-align: center;
}
.sec1 img{
    width: 100%;
}
.sec1 h3{
    font-size: 3.8rem;
    font-weight: 700;
}
.sec1 h4{
    width: 162px;
    height: 45px;
    background-color: #020217; 

}
.flex1{
    display: flex;
    line-height: 45px;
    margin-top: 20px;
    color: white;
}
.flex1 h4{
    margin-right: 5px;
    text-align: center;
}
.flex1 h4:last-child{
    background: none;
    color: black;
    border: 1px solid #000;
}
.fixed1{
    position: absolute;
    left: 18%;
    bottom: 10%;
}
/* 섹션원 끝 */
.sec2{
    text-align: center;
}
.sec2 h2{
    font-size: 6.2rem;
    font-weight: 700;
    padding: 100px 0;
}
.sec2 h3 img{
    width: 100%;
    padding: 20px;
}
/* sec2 끝 */
.sec3{
    position: relative;
}
.sec3 h2 img{
    width: 100%;
}
.sec3 h3{
    position: absolute;
    font-weight: 700;
    font-size: 8rem;
    width: 100%;
    left: 15%;
    top: 50%;
    z-index: 1;
    color: white;
}
.div1{
    width: 500px;
    padding-left: 50px;
    margin-right: 100px;
    padding-top: 600px;
}
.button{
    margin-left: 100px;
} 

.div1 button{
    font-size: 2rem;
    margin-right: 10px;
    cursor: pointer;
}
.div1 h2{
    margin-top: 50px;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 30px;
}
.div1 p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.article1{
    display: flex;
}
.article1 img{
    width: 100%;
}
/* 아티클1 끝 */
.sec4 img{
    width: 100%;
}
.sec4 h2{
    padding-top: 200px;;
    font-size: 6.2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding-left: 200px;
}
.sec4 p{
    font-size: 1.5rem;
    padding-left: 200px;
    padding-bottom: 100px;
}
.sec4 h3:last-child{
    padding: 20px 0 20px 100px;
    font-size: 1.5rem;
    line-height: 1.5;
}
.sec4 span{
    font-weight: 700;
}
/* 섹션4 끝 */
.sec5 h2{
    padding-top: 200px;
}
.sec5_text_cover{
    padding-top: 600px;
    padding-left: 50px;
}
.sec5_text_cover h3{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.sec5_text_cover p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.sec5>div{
    display: flex;

}
/* 섹션5 끝 */
.sec6{
    position: relative;
}
.sec6 h2{
    font-weight: 700;
    font-size: 5.5rem;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}
.sec6 p{
    font-size: 1.5rem;
    padding-left: 100px;
    line-height: 1.5;
    padding-bottom: 100px;
}
.sec6 video{
    width: 100%;
}
.movie_button{
    position: absolute;
    z-index: 11111111;
    left: 5%;
    bottom: 3%;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}
/* 섹션6 끝 */
.sec7{
    width: 100%;
    height: 323px;
    background-color: #020217;
    color: white;
}
.sec7 h2{
    padding: 50px;
    font-size: 5rem;
    font-weight: 700;
}
.sec7 h3{
    padding-left: 50px;
    font-size: 1.5rem;
}
.arti2{
    width: 100%;
}
.arti2 img{
    width: 100%;
}
/* 섹션7 끝 */
.sec8 h2{
    padding-top: 100px;
}
.sec8>div{
    display: flex;
}
.sec8 h3{
    font-weight: 700;
    font-size: 5.5rem;
    margin-bottom: 50px;
    padding-left: 50px;
}
.sec8 p{
    padding-left: 50px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 50px;
}
.sec8 button{
    margin-left: 50px;
    width: 150px;
    height: 50px;
    background-color: #020217;
    color: white;
}
.sec8>div>div{
    padding-top: 400px;
}
/* 섹션8끝 */
.sec9>div{
    display: flex;
}
.sec9 h3{
    padding-top: 300px;
}
.sec9>div>div{
    padding-top: 500px;
}
.sec9 h2{
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 30px;
    padding-left: 150px;
}
.sec9 p{
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 150px;
}
.sec9 h3{
    margin-left: 200px;
    width: 70%;
}
/* 섹션9 끝 */
.sec10>div{
    display: flex;
}
.sec10 h2{
    padding-top: 200px;
}
.sec10>div>div{
    padding-top: 600px;
}
.sec10 h3{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 30px;
    padding-left: 50px;
}
.sec10 p{
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 50px;
}
.sec10 button{
    border: 1px solid #000;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
}
.sec10>p{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* 푸터 */
.safe_w1728 {
    width: 1728px;
    margin: 0 auto;
}
.footer {
    background-color: #000;
    color: #fff;
    padding: 150px 0;
}
.footer .footer_flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    font-size: 12px;
    border-bottom: 1px solid #494949;
}
.footer .footer_flex dl dd {
    padding-top: 16px;
}
.footer .footer_flex dl dt {
    padding-bottom: 26px;
    font-family: 'Montserrat',sans-serif;
    font-family: 'AudiType_footer',sans-serif ;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}
.footer .footer_flex dl:last-child {
    margin-right: -80px;
}
.footer .footer_flex dl:nth-child(1) {
    flex-grow: 1.5;
}
.footer .footer_flex dl:nth-child(2) {
    flex-grow: 1.3;
}
.footer .footer_flex dl:nth-child(3) {
    flex-grow: 1;
}
.footer .footer_flex dl:nth-child(4) {
    flex-grow: 1;
}
.footer .footer_flex dl:nth-child(5) {
    flex-grow: 1;
}
.footer .topbtn_snsicon {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
}
.footer .topbtn {
    position: absolute;
    right: 0;
    top: -120px;
}
.footer .topbtn span {
    margin-right: 10px;
    font-size: 12px;
}
.footer .topbtn img {
    width: 12px;
    margin-top: 6px;            
    filter:  brightness(0) invert(1);
}
.footer .snsicon {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 350px;
}
.footer .snsicon a:first-child {
    margin-right: 20px;
}
.footer .copyright {
    padding-top: 24px;
    font-size: 12px;
}
.footer .copyright_flex {
    display: flex;
}
.footer .copyright_flex p:first-child {
    padding-right: 70px;
}
.footer .copyright ul {
    display: flex;
}
.footer .copyright ul li {
    padding-right: 20px;
}
.footer .copyright>p {
    margin-top: 50px;
}
