@charset "utf-8";
#wrap{
    margin: 0 auto;
    text-align: center;
}
.w1132{
    width: 1132px;
    margin: 0 auto;
    text-align: center;
}
.board{  
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.board img:first-child{
    width: 120px;
    height: 100px;
    margin: 70px 0 30px 0;
    border: none;
}
.board h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    margin: 0px 0 0 0;
}
.board h3{
    font-style: italic;
    color: rgb(80, 80, 80);
    text-align: right;
    margin: 20px 50px;
}
.board img{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.board p{
    margin: 20px 0;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}
.board p .board_span01{
    font-size: 36px;
    font-weight: bold;
    line-height: 2.5;
}
.board p .board_span02{
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
}
.board_list{
    position: relative;
    margin-bottom: 150px;
}
.board_list a{
    background-color: darkred;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 50px;
    position: absolute;
    top: 0;
    right: -550px;
}