#wrap{
    margin: 0 auto;
    text-align: center;
}
header {
    text-align: left;
}
.w1728{
    width: 1728px;
}
.w1400{
    width: 1400px;
    margin: 0 auto;
}
.board_mainpic img{
    width: 1400px;
    height: 438px;
}
.board_img1{
    width: 1440px;
}
.board .board_mainlist{
    width: 260px;
    float: left;
    height: 300px;
    /* background-color: #ccc; */
    margin-top: 40px;
}
.board .board_mainlist li{
    width: 260px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #505050;
    font-size: 17px;
}

#c_checkbox{
    display: none;
}
.c_checkbox{
    cursor: pointer;
}
#c_checkbox+.boardlist_none{
    margin-top: -10px;
    width: 200px;
    border-top: 1px solid rgb(123, 123, 123);
}
.boardlist_none a{
    color: rgb(123, 123, 123);
    margin-left: 20px;
    /* border-top: 1px solid rgb(123, 123, 123); */
}

#c_checkbox:checked+.boardlist_none{
    display: none;
}
#c_checkbox:checked+.boardlist_none+.boardlist_none{
    display: none;
}
#c_checkbox .boardlist_none{
    display: block;
    /* border-top: 1px solid rgb(123, 123, 123); */
    
}
.board .board_mainlist>li:first-child{
    color: #000;
}
.board_table{
    width: 900px;
    float: left;
}
.board_table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 1140px;
}
.board_table thead{
    background-color: rgb(240, 240, 240);
    border: none;
    text-align: center;
    border-top: 2px solid #000;
}
.board_table thead tr th, table thead tr td{
    font-weight: bold;
}
.board_table tbody tr th+td{
    text-align: left;
    color: rgb(50, 50, 50);
}
.board_table tbody tr th+td:hover{
    text-decoration: underline;
    color: #000;
    font-weight: 500;
}
td, th{
    padding: 20px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.board_table caption{
    text-align: left;
    margin: 50px 0;
}
.board_table caption h2{
    font-weight: bold;
    font-size: 36px;
}

.board .prev_next{
    
}
.board .prev_next .prev{
    margin-right: 30px;
}
.board .prev_next .next{
    margin-left: 30px;
}
.board .prev_next li{
    display: inline-block;
    font-size: 14px;
    padding: 40px 10px;
    width: 20px;
}
.board .prev_next li a:active{
    font-weight: bold;
}
.board .prev_next li a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.board_fieldset {
    margin-bottom: 50px;
}
.board_fieldset #board_search{
    height: 30px;
    margin-right: 10px;
}
.board_fieldset input{
    border: 1px solid #000;
    width: 200px;
    height: 30px;
}
.board_fieldset img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: -30px;
}