@charset "utf-8";
/* 영문 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 한문 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dongle&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gowun+Batang&family=Gowun+Dodum&family=Gugi&family=Hahmlet&family=Hi+Melody&family=IBM+Plex+Sans+KR&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Song+Myung&family=Stylish&family=Yeon+Sung&display=swap');
/* 영문폰트 */
.roboto {font-family: 'Roboto', sans-serif;}
.alumni {font-family: 'Alumni Sans Inline One', cursive;}
.bhutuka {font-family: 'BhuTuka Expanded One', cursive;}
.catamaran {font-family: 'Catamaran', sans-serif;}
.inter {font-family: 'Inter', sans-serif;}
.lato {font-family: 'Lato', sans-serif;}
.monsterrat {font-family: 'Montserrat', sans-serif;}
.mousememoirs {font-family: 'Mouse Memoirs', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.oswald {font-family: 'Oswald', sans-serif;}
.playfair {font-family: 'Playfair Display', serif;}
.poppins {font-family: 'Poppins', sans-serif;}
.robotocondensed {font-family: 'Roboto Condensed', sans-serif;}
.robotomono {font-family: 'Roboto Mono', monospace;}
.sourcesanspro {font-family: 'Source Sans Pro', sans-serif;}
.ubuntu {font-family: 'Ubuntu', sans-serif;}
.uchen {font-family: 'Uchen', serif;}


/* /한문폰트 */
.gothic {font-family: 'Nanum Gothic', sans-serif;}
.blackHanSans {font-family: 'Black Han Sans', sans-serif;}
.dongle {font-family: 'Dongle', sans-serif;}
.gugi {font-family: 'Gugi', cursive;}
.himelody {font-family: 'Hi Melody', cursive;}
.jua {font-family: 'Jua', sans-serif;}
.nanumbursh {font-family: 'Nanum Brush Script', cursive;}
.nanumpen {font-family: 'Nanum Pen Script', cursive;}
.notosanskr {font-family: 'Noto Sans KR', sans-serif;}
.notoserifkr {font-family: 'Noto Serif KR', serif;}
.poorstory {font-family: 'Poor Story', cursive;}
.singleday {font-family: 'Single Day', cursive;}
.songmyung {font-family: 'Song Myung', serif;}
.stylish {font-family: 'Stylish', sans-serif;}
.yeonsung {font-family: 'Yeon Sung', cursive;}
.blackandwhit {font-family: 'Black And White Picture', sans-serif;}
.cute {font-family: 'Cute Font', cursive;}
.dohyeon {font-family: 'Do Hyeon', sans-serif;}
.eastsea {font-family: 'East Sea Dokdo', cursive;}
.gaegu {font-family: 'Gaegu', cursive;}
.gamjaflower {font-family: 'Gamja Flower', cursive;}
.gowunbatang {font-family: 'Gowun Batang', serif;}
.gowundodum {font-family: 'Gowun Dodum', sans-serif;}



@font-face{
	src: url("../fonts/verdana-font-family/verdana.ttf");
    font-family: "verdana"; 
 }
 
 #verdana{
 font-family: "verdana";
 }
 