@charset "utf-8";
html {
    font-size: 62.5%;
    font-family: "NotoSans KR",sans-serif;
    width: 1920px;
}
.w1720{
    width: 1720px;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}
header{
    font-size: 1.6rem;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.sticky{
    position: sticky;
    left: 100px;
    top: 0;
}
.sticky>div{
  display: flex;
}
.divider{
    width: 100%;
    height: 0.1px;
    background-color: rgb(247, 247, 247);
}
header div>ul{
    display: flex;
    margin-top: 60px;
}
header h2{
    margin-top: 60px;
    transition: all 0.2s;
}
.best{
    margin-left: 680px;
    transition: all 0.2s;
}
.best li{
    padding-left: 45px;
}
.lang{
    font-size: 1.2rem;
    transition: all 0.2s;
}
.lang li:last-child{
    padding-left: 5px;
    padding-right: 40px;
}
.icon{
    text-align: center;
    transition: all 0.2s;
}
.icon>ul>li{
    margin-left: 20px;
}
.sub_menu1{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;   
}
.main_menu1:hover .sub_menu1{
    display: block;
}
.sub_menu1:hover{
    display: block;
}
.sub_menu1 li{
    height: 35px;
    line-height: 35px;
}
.sub_menu1>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.sub_menu1 li:last-child{
    margin-bottom: 0px;
}
.main_menu1{
    width: 110px;
    position: relative;
    height: 30px;
}
.main_menu2{
    width: 95px;
    position: relative;
    height: 30px;
}
.sub_menu2{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;  
}
.sub_menu2>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.main_menu2:hover .sub_menu2{
    display: block;
}
.sub_menu2 li{
    height: 35px;
    line-height: 35px;
}
.main_menu3{
    width: 150px;
    position: relative;
    height: 30px;
}
.sub_menu3{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}
.sub_menu3>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.main_menu3:hover .sub_menu3{
    display: block;
}
.sub_menu3 li{
    height: 35px;
    line-height: 35px;
}
.main_menu4{
    width: 150px;
    position: relative;
    height: 30px;
}
.sub_menu4{
    position: absolute;
    width: 105px;
    height: 60px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    background-color: white;
}
.sub_menu4 li{
    height: 35px;
    line-height: 35px;
}
.sub_menu4>li:hover{
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    outline: none;
}
.main_menu5{
    position: relative;
    height: 30px;
}
.main_menu4:hover .sub_menu4{
    display: block;
}
.sub_menu5{
    position: absolute;
    width: 120px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding-top: 30px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}
.sub_menu5>li:hover{
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    outline: none;
}
.sub_menu5>li{
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
}
.main_menu5:hover .sub_menu5{
    display: block;
}
.sub_menu01{
    position: relative;
}
.sub_menu01:hover .sub2_menu1{
    display: block;
}
.sub2_menu1{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu1>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu02{
    position: relative;
}
.sub_menu02:hover .sub2_menu2{
    display: block;
}
.sub2_menu2{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu2>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu03{
    position: relative;
}
.sub_menu03:hover .sub2_menu3{
    display: block;
}
.sub2_menu3{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu3>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu04{
    position: relative;
}
.sub_menu04:hover .sub2_menu4{
    display: block;
}
.sub2_menu4{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu4>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu05{
    position: relative;
}
.sub_menu05:hover .sub2_menu5{
    display: block;
}
.sub2_menu5{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu5>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu06{
    position: relative;
}
.sub_menu06:hover .sub2_menu6{
    display: block;
}
.sub2_menu6{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu6>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu07{
    position: relative;
}
.sub_menu07:hover .sub2_menu7{
    display: block;
}
.sub2_menu7{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;

}
.sub2_menu7>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu08{
    position: relative;
}
.sub_menu08:hover .sub2_menu8{
    display: block;
}
.sub2_menu8{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
}
.sub2_menu8>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
header li span{
    display: block;
    position: absolute;
    right: 10%;
    top: 0;
    transform: rotate(-90deg);
    transition: all 0.2s;
}
li span img{
    width: 10px;
    height: 10px;
}
.sub_menu01:hover span{
    transform: rotate(-270deg);
}
.sub_menu02:hover span{
    transform: rotate(-270deg);
}
.sub_menu03:hover span{
    transform: rotate(-270deg);
}
.sub_menu04:hover span{
    transform: rotate(-270deg);
}
.sub_menu05:hover span{
    transform: rotate(-270deg);
}
.sub_menu06:hover span{
    transform: rotate(-270deg);
}
.sub_menu07:hover span{
    transform: rotate(-270deg);
}
.sub_menu08:hover span{
    transform: rotate(-270deg);
}

/* 헤더 */


main{
    margin-top: 200px;
}
footer{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: rgb(157, 160, 164);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 65px;
}
footer h2 {
    margin-bottom: 55px;
}
.mb15{
    margin-bottom: 15px;
}
.escrow_flex{
    display: flex;
}
.escrow_flex p{
    line-height: 30px;
    padding-left: 5px;
}
.sec1 a{
    text-decoration-line:underline;
}
.mb50{
    margin-bottom: 50px;
}
.copyright{
    color: black;

}
.sec2{
    line-height:35px;
}
.sec2 ul{
    display: flex;
    margin-bottom: 65px;
}
.footer_divider{
    display: flex;
    justify-content:flex-end
}
.footer_divider dl:first-child{
    margin-right: 65px;
}
.footer_divider dd:hover{
    color: black;
    cursor: pointer;
}
.sec2 ul li:hover{
    cursor: pointer;
    color: black;
}
.long_banner{
    display: flex;
    font-family: "netmable_thin";
    font-weight: 200;
}
.long_banner>div{
    width: 100%;
}
.left_banner{
    background-color: rgb(152, 217, 231);
    display: flex;
    color: white;
}
.left_text{
    margin-left: 250px;   
    padding-top: 50px;
    line-height: 50px;
    margin-right: 30px;
}
.left_text p:first-child{
    font-size: 3.2rem;
}
.left_text p:last-child{
    font-size: 1.8rem;
}
.right_banner{
    background-color: rgb(64, 102, 141);
    display: flex;
    color: white;
}
.right_text{
    margin-left: 100px;
    padding-top: 50px;
    line-height: 50px;
    margin-right: 30px;
}
.right_text p:first-child{
    font-size: 3.2rem;
}
.right_text p:last-child{
    font-size: 1.8rem;
}





/* 메인 */
main{
    font-family: "netmable_normal";
}
main h2{
    text-align: center;
    font-size: 3.6rem;
    margin-top: 100px;
    font-weight: 700;
}
main h3{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(157, 160, 164);
    margin-top: 100px;
    line-height: 20px;
    margin-bottom: 50px;
}
.display_section{
    margin-bottom: 10px;
}
input{
    display: block;
    margin: 0 auto;
}
.search_container input#search {
    width: 430px;
    height: 50px;
    background-color:rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    color: rgb(157, 160, 164);
    font-size: 13px;
    padding-left: 45px;
    outline: none;
    margin: 0 auto;
}
.personal_info{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.personal_info li{
    margin-right: 50px;
    font-size: 1.3rem;
}
.personal_info li:last-child{
    margin-right: 0;
}
.display_section2{
    margin-top: 20px;
}
.search_container2 input#search {
    display: block;
    width: 430px;
    height: 50px;
    background-color:black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    outline: none;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.display_section3{
    margin-top: 10px;
}
.search_container3 input#search {
    width: 430px;
    height: 50px;
    background-color:white;
    border-radius: 5px;
    color: black;
    font-size: 1.4rem;
    outline: none;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    border-color: lightgray;
    cursor: pointer;
}
.sns_login dt{
    margin-top: 50px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.sns_login dl{
    text-align: center;
}
.sns_login dd{
    margin-bottom: 145px;
    margin-right: 15px;
}
.sns_login dd:last-child{
    margin-right: 0;
}
.sns_login dl>div{
    display: flex;
    justify-content: center;
}