@charset "utf-8";
html{
  font-size: 62.5%;
  font-family: "NotoSans",sans-serif;
  width: 1920px;
}
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body{
    overflow-x: hidden;
}
/* 헤더 */
.w1720{
    width: 1720px;
    margin: 0 auto;
}
header{
    font-size: 1.6rem;
    margin: 0 auto;
    width: 100%;
    z-index: 99999999999999;
    position: absolute;
    left: 0;
    top: 0;
    height: 10%;
}
.sticky{
    position: sticky;
    left: 100px;
    top: 0;
}
.sticky>div{
  display: flex;
}
.divider{
    width: 100%;
    height: 0.1px;
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
}
header div>ul{
    display: flex;
    margin-top: 60px;
}
header h2{
    margin-top: 60px;
    transition: all 0.2s;
}
.best{
    margin-left: 680px;
    transition: all 0.2s;
}
.best li{
    padding-left: 45px;
}
.lang{
    font-size: 1.2rem;
    transition: all 0.2s;
}
.lang li:last-child{
    padding-left: 5px;
    padding-right: 40px;
}
.icon{
    transition: all 0.2s;
    text-align: center;
}
.icon>ul>li{
    margin-left: 20px;
}
.sub_menu1{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;   
    font-size: 13px;
}
.main_menu1:hover .sub_menu1{
    display: block;
}
.sub_menu1:hover{
    display: block;
}
.sub_menu1 li{
    height: 35px;
    line-height: 35px;
}
.sub_menu1>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.sub_menu1 li:last-child{
    margin-bottom: 0px;
}
.main_menu1{
    width: 110px;
    position: relative;
    height: 30px;
}
.main_menu2{
    width: 95px;
    position: relative;
    height: 30px;
}
.sub_menu2{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;  
    font-size: 13px;
}
.sub_menu2>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.main_menu2:hover .sub_menu2{
    display: block;
}
.sub_menu2 li{
    height: 35px;
    line-height: 35px;
}
.main_menu3{
    width: 150px;
    position: relative;
    height: 30px;
}
.sub_menu3{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
}
.sub_menu3>li:hover{
    border: 1px solid rgb(251, 181, 66);
    background-color: rgb(251, 181, 66);
    border-radius: 10px;
    outline: none;
}
.main_menu3:hover .sub_menu3{
    display: block;
}
.sub_menu3 li{
    height: 35px;
    line-height: 35px;
}
.main_menu4{
    width: 150px;
    position: relative;
    height: 30px;
}
.sub_menu4{
    position: absolute;
    width: 105px;
    height: 60px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    background-color: white;
    font-size: 12px;
}
.sub_menu4 li{
    height: 35px;
    line-height: 35px;
}
.sub_menu4>li:hover{
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    outline: none;
}
.main_menu5{
    position: relative;
    height: 30px;
}
.main_menu4:hover .sub_menu4{
    display: block;
}
.sub_menu5{
    position: absolute;
    width: 120px;
    left: 0px;
    top: 30px;
    display: none;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding-top: 30px;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
}
.sub_menu5>li:hover{
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    outline: none;
}
.sub_menu5>li{
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
}
.main_menu5:hover .sub_menu5{
    display: block;
}
.sub_menu01{
    position: relative;
}
.sub_menu01:hover .sub2_menu1{
    display: block;
}
.sub2_menu1{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu1>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu02{
    position: relative;
}
.sub_menu02:hover .sub2_menu2{
    display: block;
}
.sub2_menu2{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu2>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu03{
    position: relative;
}
.sub_menu03:hover .sub2_menu3{
    display: block;
}
.sub2_menu3{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu3>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu04{
    position: relative;
}
.sub_menu04:hover .sub2_menu4{
    display: block;
}
.sub2_menu4{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu4>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu05{
    position: relative;
}
.sub_menu05:hover .sub2_menu5{
    display: block;
}
.sub2_menu5{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu5>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu06{
    position: relative;
}
.sub_menu06:hover .sub2_menu6{
    display: block;
}
.sub2_menu6{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu6>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu07{
    position: relative;
}
.sub_menu07:hover .sub2_menu7{
    display: block;
}
.sub2_menu7{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;

}
.sub2_menu7>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.sub_menu08{
    position: relative;
}
.sub_menu08:hover .sub2_menu8{
    display: block;
}
.sub2_menu8{
    position: absolute;
    left: 101%;
    top: 0;
    display: none;
    border: 1px solid rgb(157, 160, 164);
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 150px;
    font-size: 13px;
}
.sub2_menu8>li:hover{
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
header li span{
    display: block;
    position: absolute;
    right: 10%;
    top: 0;
    transform: rotate(-90deg);
    transition: all 0.2s;
}
li span img{
    width: 10px;
    height: 10px;
}
.sub_menu01:hover span{
    transform: rotate(-270deg);
}
.sub_menu02:hover span{
    transform: rotate(-270deg);
}
.sub_menu03:hover span{
    transform: rotate(-270deg);
}
.sub_menu04:hover span{
    transform: rotate(-270deg);
}
.sub_menu05:hover span{
    transform: rotate(-270deg);
}
.sub_menu06:hover span{
    transform: rotate(-270deg);
}
.sub_menu07:hover span{
    transform: rotate(-270deg);
}
.sub_menu08:hover span{
    transform: rotate(-270deg);
}

/* 헤더 */



.slider{
  width: 90%;
}
.div_1{
  background-image: url(../images/220823_mainbanner_P01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 800px;
}
.div_2{
  background-image: url(../images/220902_mainbanner_P01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.div_3{
  background-image: url(../images/221001_mainbanner_P01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.div_4{
  background-image: url(../images/coupon_pc_wide.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.div_1{
  position: relative;
}
.fontbox2{
  position: absolute;
  left: 1010px;
  top: 250px;
}
.fontbox2 p{
  font-size: 18px;
  margin-bottom: 45px;
  font-weight: 700;
  color: #dd4a4a;
}
.fontbox2 h2{
  font-size: 54px;
  color: #252525;
  font-weight: 700;
  letter-spacing:-1px;
}
.fontbox2 :nth-child(2){
  margin-bottom: 20px;
}
.fontbox2 h3{
  font-size: 22px;
  color: #252525;
  margin-top: 45px;
}
.div_4{
  position: relative;
}
.div_4 p{
  font-size: 18px;
  color: #3190ed;
  margin-bottom: 45px;
  font-weight: 700;
}
.div_4 h2{
  font-size: 54px;
  color: #252525;
  font-weight: 700;
}
.fontbox :nth-child(2){
  margin-bottom: 20px;
}
.div_4 h3{
  font-size: 22px;
  color: #252525;
  margin-top: 45px;
}
.div_4 .fontbox{
  position: absolute;
  left: 1010px;
  top: 250px;
}


/* NEW */
.title{
  font-size: 30px;
  color: #252525;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 50px;
}
.new_flex{
  display: flex;
}
.new_flex li{
  margin-right: 20px;
}
.new_flex li:last-child{
  margin-right: 0px;
}
.tag img{
  width: 15%;
}
.tag2 img{
  width: 25%;
}
.new_img img{
  border-radius: 5%;
}
.new_font_box h2{
  font-size: 18px;
  color: #252525;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}
.new_font_box span{
  color: #dd4a4a;
  font-size: 17px;
  margin-right: 5px;
  font-weight: 700;
}
.new_font_box h3{
  font-size: 17px;
  color: #252525;
  font-weight: 700;
  margin-bottom: 15px;
}
.new_img{
    position: relative;
    overflow: hidden;
}
.like_pag{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition: all 0.2s;
}
.like_pag img{
    width: 45px;
}
.like_pag_box{
    margin-bottom: 135px;
    z-index: 2;
}
.like_pag_box:hover .like_pag{
    transform: translate(-50%,-130%);
}

/* md's pick */
.md_pick .title{
    margin-bottom: 50px;
}
.div5{
    background-image: url(../images/MD_PICK_220809_PC01.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.div6{
    background-image: url(../images/MD_PICK_221004_PC01.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
}
.font_box3{
    position: absolute;
    left: 130px;
    top: 200px;
    font-size: 40px;
    color: #39373e;
    letter-spacing: -1px;
}
.font_box3 h2{
    font-weight: 700;
    margin-bottom: 15px;
}
.font_box3 h2:nth-child(2){
    margin-bottom: 0px;
}
.font_box3 h3{
    margin-top: 40px;
    font-size: 22px;
}
/* md's pick */

/* kuya */
.kuya ul li:first-child .new_img img{
    width: 330px;
}
.kuya ul li:first-child .new_img div .like_pag img{
    width: 45px;
}
/* kuya */

/* seven knights */
.sevenknights ul li .new_img img{
    width: 330px;
}
.sevenknights ul li .new_img div .like_pag img{
    width: 45px;
}

/* sns */
.sns ul li img{
    width: 285px;
}
.sns ul{
    display: flex;
}
.sns ul li{
    margin-right: 3px;
}
.sns ul li:last-child{
    margin-right: 0;
}
.sns span{
    padding-left: 10px;
    font-size: 15px;
    color: #a3a3a3;
}
/* sns */


/* footer */
footer{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: rgb(157, 160, 164);
    margin-top: 65px;
}
footer>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer h2 {
    margin-bottom: 55px;
}
.mb15{
    margin-bottom: 15px;
}
.escrow_flex{
    display: flex;
}
.escrow_flex p{
    line-height: 30px;
    padding-left: 5px;
}
.sec1{
    margin-left: 160px;
}
.sec1 a{
    text-decoration-line:underline;
}
.mb50{
    margin-bottom: 50px;
}
.copyright{
    color: black;

}
.sec2{
    line-height:35px;
    margin-right: 135px;
}
.sec2 span{
    color: black;
}
.sec2 ul{
    display: flex;
    margin-bottom: 65px;
}
.footer_divider{
    display: flex;
    justify-content:flex-end
}
.footer_divider dl:first-child{
    margin-right: 65px;
}
.footer_divider dd:hover{
    color: black;
    cursor: pointer;
}
.sec2 ul li:hover{
    cursor: pointer;
    color: black;
}
.long_banner{
    margin-top: 100px;
    display: flex;
    font-family: "netmable_thin";
    font-weight: 200;
}
.long_banner>div{
    width: 100%;
}
.left_banner{
    background-color: rgb(152, 217, 231);
    display: flex;
    color: white;
}
.left_text{
    margin-left: 250px;   
    padding-top: 50px;
    line-height: 50px;
    margin-right: 30px;
}
.left_text p:first-child{
    font-size: 3.2rem;
}
.left_text p:last-child{
    font-size: 1.8rem;
}
.right_banner{
    background-color: rgb(64, 102, 141);
    display: flex;
    color: white;
}
.right_text{
    margin-left: 100px;
    padding-top: 50px;
    line-height: 50px;
    margin-right: 30px;
}
.right_text p:first-child{
    font-size: 3.2rem;
}
.right_text p:last-child{
    font-size: 1.8rem;
}
/* footer */
