@charset "uft-8";
#wrap{
    width: 100%;
    margin: 0 auto;
}
header{
    background-image: url(../image/slide_back_img.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: #ccc;
}
ul li{
    float: left;
    padding-right: 20px;
}
header ul{
    float: right;
    width: 800px;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
}
.logo{
    float: left;
    margin-top: 20px;
    padding-top: 50px;
}
header h1{
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding-top: 80px;
}
header h2{
    color: silver;
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.shop_now{
    margin-bottom: 50px;
}
.fl{
    float: left;
    width: 500px;
    height: 100px;
    line-height: 100px;
}
.flr{
    float: right;
    width: 200px;
    line-height: 100px;
}

/* 헤더 css 끝 */
main h2{
    color: silver;
    text-align: center;
    line-height: 40px;
    padding: 50px 0;
}
.rel{
    position: relative;
    height: 400px;
}
.absol{
    position: absolute;
    left: 0;
    top: -200px;
}
.rksrur{
    height: 40px;
}
.rksrur2{
    background-color: rgb(220, 220, 220);
    height: 100px;
}
.backcol{
    background-color: rgb(220, 220, 220);
}
.backcol2{
    background-color: rgb(255, 204, 51);
}
a:hover{
    color: lightgray;
}
/* 메인 끝 */
footer{
    background-color: black;
    color: white;
    height: 500px;
}
footer dl{
    float: left;
    width: 200px;
}
.flr2{
    float: right;
    margin-top: 100px;
}
.fl2{
    float: left;
    margin-top: 100px;
}
dl dt{
    font-weight: 600;
    padding-bottom: 20px;
}
dl dd{
    line-height: 30px;
}
.fl2 p{
    line-height: 30px;
    margin-bottom: 30px;
}
.div2 img{
    margin-right: 10px;
}
.bb{
    height: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.copy1 {
    text-align: center;
    padding: 50px 0;
}

/* 푸터끝 */