@charset "utf-8";
/* html{
    font-size: 62.5%;
} */
body {
  font-family: "Roboto", sans-serif;
}
#wrap {
  /* 1132px */
}
/* 지정 너비 적용 클래스 */
.container {
  max-width: 1132px;
  margin: 0 auto;
}
/* 각 타이틀 스타일 */
.sec_title {
  font-size: 42px;
  font-size: 2.625rem;
  color: #3f51b5;
}
/* 구분선 스타일 */
.divider {
  max-width: 1132px;
  margin: 0 auto;
  height: 2px;
  background: #eee;
  margin-top: 80px;
}
/* 짧은구분선 스타일 */
.m_divider {
  width: 20px;
  margin: 0 auto;
  height: 2px;
  background-color: #3f51b5;
  margin-top: 80px;
}

/* 모바일 퍼스트 =모바일용 공통스타일*/
.header {
  padding: 18px 0;
  position: relative;
}
.header .logo {
  float: left;
}
.header .logo a {
  font-size: 26px;
  font-size: 1.625rem;
  color: #3f51b5;
  letter-spacing: -2px;
  font-weight: 500;
}
/* gnb */
.header .gnb {
  width: 100%;
  background: #3f51b5;
  /* 포지션 */
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9999999;
  display: none;
}
.header .gnb li {
  border-bottom: 1px solid #303f9f;
}
.header .gnb li a {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 14px 0 14px 5%;
}
/* hamberger toggle */
.header .menu_toggle_btn {
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
  float: right;
}
.header .menu_toggle_btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #303f9f;
}
.header .menu_toggle_btn span:nth-child(2) {
  margin: 5px 0;
}

/* slider */
.slider .slider_img {
  max-width: 100%;
  width: 100%;
}
.slider .slider_img img {
  max-width: 100%;
  width: 100%;
}
/* disPlay */
.display_section {
  margin-top: 60px;
  text-align: center;
}
.display_section .sec_title {
  margin-bottom: 32px;
}
.display_section .desc {
  color: #616161;
  line-height: 2;
}
/* promotion_list */
.promotion_section {
  margin-top: 68px;
}
.promotion_section .promotion_list li {
  margin-top: 48px;
  text-align: center;
}
.promotion_section .promotion_list li:nth-child(1) {
  margin-top: 0;
}
.promotion_section .promotion_list li img {
  width: 52px;
  height: 52px;
}
.promotion_section .promotion_list li h3 {
  margin: 30px 0 20px;
  color: #3f51b5;
}
.promotion_section .promotion_list li p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #616161;
  line-height: 1.5;
}
/* work */
.work_section {
  margin-top: 80px;
}
.work_section .sec_title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.work_section .work_list li {
  width: 100%;
}
.work_section .work_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.work_section .work_list li img {
  max-width: 100%;
  width: 100%;
}
/* 이미지 정보 효과 */
.work_section .work_list li a {
  /* 위치기준값 */
  position: relative;
}
/* a. 셀로판지 효과 */
.work_section .work_list li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #3f51b5;
  opacity: 0;
  /* 포지션 */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.3s;
}
/* a-1. 셀로판지 효과 */
.work_section .work_list li a:hover::before {
  opacity: 0.7;
}
/* 정보택스트 css */
.work_section .work_list li div h3 {
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 8px;
}
.work_section .work_list li div span {
  font-size: 11px;
  color: #fff;
}
.work_section .work_list li div {
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 200;
  transition: all 0.3s;
  opacity: 0;
}
/* b. 정보텍스트 이동효과 */
.work_section .work_list li a:hover div {
  transform: translateY(30px);
  opacity: 1;
}
/* 3-4 blog */
.blog_section{
  margin-top: 80px;
}
.blog_section .sec_title{
  margin-bottom: 48px;
  text-align: center;
}
.blog_section .blog_list li{
  width: 100%;
  margin-top: 48px;
}
.blog_section .blog_list li:first-child{
  margin-top: 0;
}
.blog_section .blog_list li img{
  max-width: 100%;
  width: 100%;
}
.blog_section .blog_list li time{
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  color: #9e9e9e;
  margin: 10px 0;
}
.blog_section .blog_list li h3{
  color: #424242;
  line-height: 1.6;
}
.contact_section{
  margin-top: 100px;
}
.contact_section .sec_title{
  margin-bottom: 48px;
  text-align: center;
}
input,textarea{
  border-bottom: 1px solid #757575;
  font-size: 12px;
  font-size: 0.75rem;
  color: #3f51b5;
  border-radius: 0%;
}
.contact_section .form_box .form input{
  padding-bottom: 14px;
  margin-bottom: 40px;
}
.contact_section .form_box .txta textarea{
  height: 170px;
}
.contact_section .form_box .send_btn{
  margin-top: 36px;
  text-align: right;
}
.contact_section .form_box .send_btn button{
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  background: #3f51b5;
  padding: 15px;
  cursor: pointer;
}
.footer{
  margin-top: 100px;
}
.footer iframe{
  width: 100%;
  height: 320px;
}
.footer p{
  margin: 20px 0;
  color: darkgray;
  text-align: center;
  font-size: 0.75rem;
}
/* 태블릿 */
@media screen and (min-width: 768px) {
  .header {
    padding: 18px 5%;
    position: relative;
  }
  .header .logo {
    float: left;
  }
  .header .logo a {
    font-size: 26px;
    font-size: 1.625rem;
    color: #3f51b5;
    letter-spacing: -2px;
    font-weight: 500;
  }
  /* gnb */
  .header .gnb {
    /* gnb show */
    display: block !important;
    /* 모바일 속성값 초기화 */
    width: auto;
    background: none;
    /* 포지션 */
    position: static;
    float: right;
  }
  .header .gnb li {
    border-bottom: 0;
    /* 플롯 */
    float: left;
    margin-left: 20px;
  }
  .header .gnb li a {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 5px 0 0 0;
  }
  /* hamberger toggle */
  .header .menu_toggle_btn {
    width: 20px;
    margin-top: 4px;
    cursor: pointer;
    float: right;
    display: none;
  }
  .header .menu_toggle_btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #303f9f;
  }
  .header .menu_toggle_btn span:nth-child(2) {
    margin: 5px 0;
  }
  .display_section {
    /* 속성값 수정 */
    margin-top: 100px;
    text-align: center;
  }
  .display_section .sec_title {
    margin-bottom: 32px;
  }
  .display_section .desc {
    color: #616161;
    line-height: 2;
  }

  .promotion_section {
    /* 속성값 수정 */
    margin-top: 110px;
  }
  .promotion_section .promotion_list li {
    /* (768px) */
    width: 177px;
    width: 23.046875%;
    margin-left: 20px;

    /* 플롯 */
    float: left;
    margin-top: 0px;
    text-align: center;
  }
  .promotion_section .promotion_list li:nth-child(1) {
    margin-top: 0;
    margin-left: 0;
  }
  .promotion_section .promotion_list li img {
    width: 52px;
    height: 52px;
  }
  .promotion_section .promotion_list li h3 {
    margin: 30px 0 20px;
    color: #3f51b5;
  }
  .promotion_section .promotion_list li p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #616161;
    line-height: 1.5;
  }
  .work_section {
    margin-top: 100px;
  }
  .work_section .sec_title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
  }
  .work_section .work_list li {
    width: 50%;
    float: left;
  }
  .work_section .work_list li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .work_section .work_list li img {
    max-width: 100%;
    width: 100%;
  }
  .blog_section{
    /* 속성값 수정 */
    margin-top: 124px;
  }
  .blog_section .sec_title{
    margin-bottom: 48px;
    text-align: center;
  }
  .blog_section .blog_list li{
    width: 242.6666666666667px;
    width: 31.59722222222222%;
    float: left;
    margin-left: 20px;
    margin-left: 2.604166666666667%;
    margin-top: 0;
  }
  .blog_section .blog_list li:first-child{
    margin-top: 0;
    margin-left: 0;
  }
  .blog_section .blog_list li img{
    max-width: 100%;
    width: 100%;
  }
  .blog_section .blog_list li time{
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #9e9e9e;
    margin: 10px 0;
  }
  .blog_section .blog_list li h3{
    color: #424242;
    line-height: 1.6;
  }
  .contact_section{
    margin-top: 180px;
  }
  .contact_section .sec_title{
    margin-bottom: 48px;
    text-align: center;
  }
  input,textarea{
    border-bottom: 1px solid #757575;
    font-size: 12px;
    font-size: 0.75rem;
    color: #3f51b5;
    border-radius: 0%;
  }
  .contact_section .form_box .form {
    width: 374px;
    width: 48.69791666666667%;
    margin-right: 20px;
    margin-right: 2.604166666666667%;
    float: left;
  }
  .contact_section .form_box .txta {
    width: 374px;
    width: 48.69791666666667%;
    float: right;
  }
  .contact_section .form_box .form input{
    padding-bottom: 14px;
    margin-bottom: 40px;
  }
  .contact_section .form_box .txta textarea{
    height: 170px;
  }
  .contact_section .form_box .send_btn{
    margin-top: 36px;
    text-align: right;
  }
  .contact_section .form_box .send_btn button{
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    background: #3f51b5;
    padding: 15px;
    cursor: pointer;
  }
}
/* pc */
@media screen and (min-width: 1132px) {
  .display_section {
    margin-top: 100px;
    /* 속성값 수정 */
    text-align: left;
  }
  .display_section .sec_title {
    /* 속성값 수정 */
    margin-bottom: 0;
    float: left;
  }
  .display_section .desc {
    color: #616161;
    line-height: 2;
    float: right;
    position: relative;
    padding-left: 20px;
  }
  .display_section .desc::before {
    content: "";
    display: block;
    width: 2px;
    height: 44px;
    background: #e0e0e0;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
  }

  .promotion_section {
    /* 속성값 수정 */
    margin-top: 110px;
  }
  .promotion_section .promotion_list li {
    /* (1132px) */
    width: 268px;
    width: 23.6749%;
    margin-left: 20px;

    /* 플롯 */
    float: left;
    margin-top: 0px;
    text-align: center;
  }
  .promotion_section .promotion_list li:nth-child(1) {
    margin-top: 0;
    margin-left: 0;
  }
  .promotion_section .promotion_list li img {
    width: 52px;
    height: 52px;
  }
  .promotion_section .promotion_list li h3 {
    margin: 30px 0 20px;
    color: #3f51b5;
  }
  .promotion_section .promotion_list li p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #616161;
    line-height: 1.5;
  }
  .work_section {
    margin-top: 100px;
  }
  .work_section .sec_title {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 80px;
  }
  .work_section .work_list li {
    width: 25%;
    float: left;
  }
  .work_section .work_list li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .work_section .work_list li img {
    max-width: 100%;
    width: 100%;
  }
  .blog_section{
    /* 속성값 수정 */
    margin-top: 124px;
  }
  .blog_section .sec_title{
    margin-bottom: 0;
    text-align: center;
    float: left;
  }
  .blog_section .blog_list{
    float: right;
    width: 844px;
    width: 74.5583038869258%;
  }
  .blog_section .blog_list li{
    width: 268px;
    width: 31.75355450236967%;
    float: left;
    margin-left: 20px;
    margin-left: 2.369668246445498%;
    margin-top: 0;
  }
  .sec_title{
    margin-left: 0;
  }
  .blog_section .blog_list li:first-child{
    margin-top: 0;
    margin-left: 0;
  }
  .blog_section .blog_list li img{
    max-width: 100%;
    width: 100%;
  }
  .blog_section .blog_list li time{
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #9e9e9e;
    margin: 10px 0;
  }
  .blog_section .blog_list li h3{
    color: #424242;
    line-height: 1.6;
  }
  .contact_section{
    margin-top: 180px;
  }
  .contact_section .sec_title{
    margin-bottom: 0;
    text-align: left;
    float: left;
  }
  input,textarea{
    border-bottom: 1px solid #757575;
    font-size: 12px;
    font-size: 0.75rem;
    color: #3f51b5;
    border-radius: 0%;
  }
  .contact_section .form_box .form {
    width: 412px;
    width: 48.81516587677725%;
    margin-right: 20px;
    margin-right: 2.369668246445498%;
    float: left;
  }
  .contact_section .form_box .txta {
    width: 412px;
    width: 48.81516587677725%;
    float: right;
  }
  .contact_section .form_box .form input{
    padding-bottom: 14px;
    margin-bottom: 40px;
  }
  .contact_section .form_box .txta textarea{
    height: 170px;
  }
  .contact_section .form_box .send_btn{
    margin-top: 36px;
    text-align: right;
  }
  .contact_section .form_box .send_btn button{
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    background: #3f51b5;
    padding: 15px;
    cursor: pointer;
  }
  .contact_section .form_box{
    width: 844px;
    width: 74.5583038869258%;
    float: right;
  }
}
