@charset "utf-8";
body {
  font-family: "Noto Sans KR", sans-serif;
}
/* Safe Area */
.w1280 {
  width: 1280px;
  margin: 0 auto;
}
#wrap {
  width: 100%;
  margin: 0 auto;
}
/* Header */
header {
  height: 700px;
  background: #020217;
  padding-top: 24px;
}
header .logo_gnb_left {
  width: 1170px;
  /* 플롯 */
  float: left;
}
header .logo {
  width: 110px;
  /* 플롯 */
  float: left;
}
header nav {
  /* 플롯 */
  float: right;
}
header .gnb {
  color: #fff;
  font-weight: 400;
}
header .gnb li {
  /* 플롯 */
  float: left;
  margin-top: 24px;
  margin-left: 24px;
}
header .gnb li a:hover {
  color: #ffcc33;
}
header .search {
  width: 110px;
  margin-top: 24px;
  text-align: right;
  /* 플롯 */
  float: right;
}

/* ImageText Deco */
header .img_deco {
  padding-left: 20px;
}
header .img_deco h2 {
  font-size: 72px;
  color: #fff;
  font-weight: 700;
  margin-top: 230px;
  line-height: 98px;
}
header .img_deco p {
  font-size: 14px;
  color: #999;
}
header .img_deco button {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #ffcc33;
  border: none;
  margin-top: 20px;
}
header .img_deco button a {
  font-size: 14px;
  font-weight: 600;
}

/* Section CardBox */
.card_box {
  background-color: #dcdcdc;
}
/* 3단 CardBox */
.card_box .card_box_view {
  width: 400px;
  height: 500px;
  background-color: #fff;
  /* 플롯 */
  float: left;
  margin-right: 40px;

  /* 포지션 3단 CardBox 겹치기 */
  position: relative;
  left: 0;
  top: -80px;
  z-index: 1;
}

/* CardBox Text  */
.card_box .card_box_info {
  padding-bottom: 60px;
}
.card_box .card_box_info h2 {
  font-size: 12px;
  color: #807f7f;
  font-weight: 400;
  /* 플롯 */
  float: left;
}
.card_box .card_box_info h2 > span {
  color: #373636;
  font-weight: 500;
}
.card_box .card_box_info p {
  font-size: 18px;
  color: #807f7f;
  font-weight: 600;
  /* 플롯 */
  float: right;
}
.card_box .card_box_info p > img {
  vertical-align: middle;
  margin-bottom: 4px;
}

/* Section ABOUTUS */
.about_us {
  padding: 100px 0 140px;
}
.about_us .about_us_text {
  color: #807f7f;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.5;
}
.about_us .line {
  width: 110px;
  height: 2px;
  border-bottom: 1px solid #fc3;
  margin-bottom: 60px;
  /* 데코라인 가운데 오게 하기 */
  margin: 0 auto;
}
.about_us_tab {
  margin-top: 60px;
}

/* Article MOV */
.mov {
  width: 100%;
  height: 500px;
  background: #020217;
  background-size: 100% 100%;
  /* 위치기준값 */
  position: relative;
  margin-bottom: 100px;
}
.mov .video {
  /* 포지션 */
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
  transform: translateX(-50%);
}

/* Section WHY */
.why {
  padding-top: 100px;
  padding-top: 380px;
  padding-bottom: 160px;
}

/* Section FAQ */
.faq_saying {
  background-color: #dcdcdc;
  padding: 70px 0 130px;
}

/* Aside Banner */
.banner {
  background-color: white;
  margin-bottom: 100px;
}
.banner_img {
  text-align: center;
}
.banner img {
  width: 80%;
  max-width: 100%;
  padding: 20px;
}
/* footer */
.footer {
  background-color: #020217;
  padding-top: 100px;
}
/* footer logo,sns */
.footer .footer_logo {
  width: 510px;
}
.footer .footer_logo dt {
  margin-bottom: 24px;
}
.footer .footer_logo dd {
  font-size: 14px;
  color: white;
  line-height: 32px;
  margin-bottom: 32px;
}
.footer .footer_logo .sns {
  display: inline-block;
  margin-right: 20px;
}
/* Footer Services */
.footer .footer_services {
  width: 330px;
}
.footer .footer_services dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_services dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_services dd a:hover {
  color: #fc3;
}
/* footer assistance */
.footer .footer_assistance {
  width: 330px;
}
.footer .footer_assistance dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_assistance dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_assistance dd a:hover {
  color: #fc3;
}
/* footer about */
.footer .footer_about dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_about dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_about dd a:hover {
  color: #fc3;
}
/* copyright */
.footer .copyright {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 32px;
}
.footer .copyright_line {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 32px;
}
/* 플롯 레이아웃 */
.footer_logo,
.footer_services,
.footer_assistance,
.footer_about {
  float: left;
}
.copyright {
  clear: both;
}

/* 추가 */
.vape_movie {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
}
.vape_movie video {
  width: 100%;
  height: 600px;
}
.mov video {
  width: 1280px;
}
/* 추가 */
.mob_menu{
  display: none;
}
.mob_menu span{
  width: 20px;
  height: 1px;
  background-color: red;
}
.mob_menu span:nth-child(3){
  margin: 10px 0;
}












@media all and (min-width:378px) and (max-width:768px) {

  body {
    font-family: "Noto Sans KR", sans-serif;
  }
  /* Safe Area */
  .w1280 {
    width: 100%;
    margin: 0 auto;
  }
  #wrap {
    margin: 0 auto;
  }
  /* Header */
  header {
    height: auto;
    background: #020217;
    padding-top: 24px;
  }
  header .logo_gnb_left {
    width: auto;
    /* 플롯 */
    float: none;
  }
  header .logo {
    width: 110px;
    /* 플롯 */
    float: left;
  }
  header nav {
    /* 플롯 */
    float:none;
    display: none;
  }
  .mob_menu_top{
    position: relative;
  }
  .mob_gnb{
    display: block;
    width: 100%;
    background-color: white;
    color: #020217;
    position: absolute;
    line-height: 50px;
    text-align: center;
    z-index: 0;
    transform: translateY(20%);
    display: none;
  }
  .mob_gnb ul li{
    border: 1px solid #000;
  }
  .mob_gnb ul li{
    background-color:whitesmoke;
  }
  .mob_gnb ul li:nth-child(1){
    background-color: teal;
  }
  
  .mob_clickbtn{
    float: right;
    padding-right: 20px;
    cursor: pointer;
    margin-top: 20px;
    z-index: 100;
  }
  header .gnb {
    color: #fff;
    font-weight: 400;
  }
  header .gnb li {
    /* 플롯 */
    float: left;
    margin-top: 24px;
    margin-left: 24px;
  }
  header .gnb li a:hover {
    color: #ffcc33;
  }
  header .search {
    width: 110px;
    margin-top: 24px;
    text-align: right;
    /* 플롯 */
    float: none;
    display: none;
  }
  
  /* ImageText Deco */
  header .img_deco {
    padding-left: 20px;
  }
  header .img_deco h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 230px;
    line-height: 84px;
  }
  header .img_deco p {
    font-size: 15px;
    line-height: 15px; 
    color: #999;
    margin-bottom: 20px;
  }
  header .img_deco button {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #ffcc33;
    border: none;
    margin-top: 10px;
    margin-bottom: 100px;
  }
  header .img_deco button a {
    font-size: 12px;
    font-weight: 600;
  }
  
  /* Section CardBox */
  .card_box {
    background-color: #dcdcdc;
  }
  /* 3단 CardBox */
  .card_box .card_box_view {
    width: 100%;
    height: auto;
    background-color: #fff;
    /* 플롯 */
    float: left;
    margin-right: 40px;
    margin-bottom: 50px;
  
    /* 포지션 3단 CardBox 겹치기 */
    position: relative;
    left: 0;
    top: -80px;
    z-index: 1;
  }
  .card_box .card_box_view img{
    width: 100%;
  }



/* CardBox Text  */
.card_box .card_box_info {
  padding-bottom: 60px;
}
.card_box .card_box_info h2 {
  font-size: 12px;
  color: #807f7f;
  font-weight: 400;
  /* 플롯 */
  float: none;
}
.card_box .card_box_info h2 > span {
  color: #373636;
  font-weight: 500;
}
.card_box .card_box_info p {
  font-size: 18px;
  color: #807f7f;
  font-weight: 600;
  /* 플롯 */
  float: none;
}
.card_box .card_box_info p > img {
  vertical-align: middle;
  margin-bottom: 4px;
}

/* Section ABOUTUS */
.about_us {
  padding: 100px 0 140px;
}
.about_us .about_us_text {
  color: #807f7f;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.5;
}
.about_us .line {
  width: 55px;
  height: 2px;
  border-bottom: 1px solid #fc3;
  margin-bottom: 60px;
  /* 데코라인 가운데 오게 하기 */
  margin: 0 auto;
}
.about_us_tab {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

/* Article MOV */
.mov {
  width: 100%;
  height: 500px;
  background: #020217;
  background-size: 100% 100%;
  /* 위치기준값 */
  position: relative;
  margin-bottom: 100px;
}
.mov .video {
  /* 포지션 */
  position: absolute;
  left: initial;
  top: initial;
  z-index: 1;
  transform: translateX(0);
  transform: translateY(40%);
}

/* Section WHY */
.why {
  padding-top: 100px;
  padding-top: 100px;
  padding-bottom: 160px;
  width: 100%;
}
.why img{
  width: 100%;
  height: 400px;
}

/* Section FAQ */
.faq_saying {
  background-color: #dcdcdc;
  padding: 70px 0 130px;
}

/* Aside Banner */
.banner {
  background-color: white;
  margin-bottom: 100px;
}
.banner_img {
  text-align: center;
}
.banner img {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}
/* footer */


.footer {
  background-color: #020217;
  padding-top: 100px;
  text-align: center;
}
/* footer logo,sns */
.footer .footer_logo {
  width: 510px;
}
.footer .footer_logo dt {
  margin-bottom: 24px;
}
.footer .footer_logo dd {
  font-size: 14px;
  color: white;
  line-height: 32px;
  margin-bottom: 32px;
}
.footer .footer_logo .sns {
  display: inline-block;
  margin-right: 20px;
}
/* Footer Services */
.footer .footer_services {
  width: 100%;
  text-align: center;
}
.footer .footer_services dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_services dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_services dd a:hover {
  color: #fc3;
}
/* footer assistance */
.footer .footer_assistance {
  width: 100%;
  text-align: center;
}
.footer .footer_assistance dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_assistance dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_assistance dd a:hover {
  color: #fc3;
}
/* footer about */
.footer .footer_about{
  text-align: center;
}
.footer .footer_about dt {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .footer_about dd {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .footer_about dd a:hover {
  color: #fc3;
}
/* copyright */
.footer .copyright {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 32px;
}
.footer .copyright_line {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 32px;
}
/* 플롯 레이아웃 */
.footer_logo,
.footer_services,
.footer_assistance,
.footer_about {
  float: none;
  margin-top: 50px;
}
.copyright {
  clear: both;
}

/* 추가 */
.vape_movie {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
}
.vape_movie video {
  width: 100%;
  height: 600px;
}
.mov video {
  width: 100%;
  height: auto;
}
/* 추가 */
.mob_menu{
  display: none;
}
.mob_menu span{
  width: 20px;
  height: 1px;
  background-color: red;
}
label{
  position: relative;
}
/* 추가*/

.mob_clickbtn{
  margin-right: 10px;
}
input[id="menuicon"]{
  display: none;
}
input[id="menuicon"]+label{
  display: block;
  width: 24px;
  height: 14px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
input[id="menuicon"]+label span{
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position:absolute;
  z-index: 100;
  transition: all 0.3s;
}
input[id="menuicon"]+label span:nth-child(1){
  top: 0%;   
}
input[id="menuicon"]+label span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);   
}
input[id="menuicon"]+label span:nth-child(3){
  bottom: 0%;
}
input[id="menuicon"]:checked+label span:nth-child(1){
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked+label span:nth-child(2){
  opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3){
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
}