@charset "utf-8";
#wrap {
  background: none;
}
/* background movie */
video {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
/* Contents */
#contents {
  padding: 0 16px;
  margin-bottom: 64px;
}
#contents .videoback {
  font-family: "Lato", sans-serif;
  font-size: 0.867rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  padding: 28px 60px;
  background-color: rgba(25, 87, 48, 0.5);
}
#contents .videoback img {
  width: 100%;
}

#contents .videoback h3 {
  margin-bottom: 24px;
}
#contents .videoback p:nth-child(2) {
  margin-bottom: 44px;
}
#contents .videoback p:nth-child(3) {
  margin-bottom: 40px;
}
#contents .videoback p:nth-child(4) {
  margin-bottom: 40px;
}
#contents .videoback strong {
  font-weight: 800;
  text-shadow: 1px 1px #000;
}
