@charset "utf-8";
html{
    font-size: 62.5%;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
aside{
    display: flex;
    justify-content:center;
}
aside>i{
    font-size: 4rem;
    padding-top: 15px;
    position: absolute;
    right: 10px;
    top: 0;
}
.sec1{
    background-color: rgb(240, 240, 240);
}
.sec1 div ul li{
    float: left;
    margin-right: 20px;
    font-size: 1.3rem;
    padding: 10px;
}
.sec1 div ul:first-child{
    float: left;
}
.sec1 div ul:last-child{
    float: right;
}

/* sec1 끝 */
/* 호버시 나타나는 메뉴 효과들 */
.sec2 .aside_div{
    background-color: rgb(66, 133, 244);
    width: 100px;
    height: 100px;
    position: relative;
}
.sec2 div span{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    position: absolute;
}
.sec2 div span:nth-child(1){
    top: 40%;
}
.sec2 div span:nth-child(3){
    top: 60%;
}
.sec2 .aside_div h2{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
    font-size: 1.2rem;
    color: white;
}
.sec2>div{
    display: flex;
}
.full_menu{
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 2px 2px 2px #ccc;
    display: none;
}
.full_menu ul li{
    width: 150px;
    font-size: 1.3rem;
    padding: 10px;
}
.full_menu ul li i{
    width: 20px;
}
/* 호버시 나타나는 메뉴 효과들 */
.title{
    margin-top: 25px;
    margin-left: 25px;
}
.title img{
    width: 100%;
}